.Rproj.user
.Rhistory
.RData
.Ruserdata


data/
troubleshoot/
figures/pcas/circlesOnly/
figures/pcas/IngridsData/
figures/pcas/lynnPerv/
figures/pcas/noAKpan/
figures/OLD_WRONG/
figures/fst/hmm/
figures/fst/LynnCanal_plot_fst.pdf
notebook/Meeting_notes/
notebook/Sara_Notes/
notebook/unorganizedNotes/
results/
scripts/
src/
!scripts/scripts_general/